@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
*{
    font-family: 'Roboto';
}
.headings{
    color: #01818C;
    text-align: center;
    margin-bottom:3rem ;
    font-size: 24px;
}

/* Navbar Css -------------------------------------------------------*/
.navbar{
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px 0px;
    margin-bottom:3em;
    
}
.image{
    width: 100%;
    text-align: center;
}


/* Section1 Css -----------------------------------------------------*/
.section1{
    margin-bottom: 3.5rem;
}
.labels{
    font-weight: 400;
    color:#455A64;
    margin-bottom: 1.2rem;
}
.form-check-label{
    font-size: 14px;
    color: #455A64;
}
.radio .form-check,.checkbox .form-check{
    margin-bottom: 1rem;
}
.form-check-input:checked[type=radio] {
    background-image: url(images/Ellipse\ 4.png);
    background-color: white;
    background-size: 8px;
    background-position: center;
    border-color: #01818C;
}
.form-check-input:checked + .form-check-label{
    color: #01818C;
}
.form-check-input[type=radio]{
    margin-right:14px;
}
.form-check-input[type=checkbox]{
    margin-right: 1rem;
}
.form-check-input:checked[type=checkbox]{
    background-color:#01818C;
    border:none;
}
.checkbox,.dropDown{
    margin-left: 1rem;
}
.dropDown,.radio{
    margin-bottom:3rem ;
}
.dropDown{
    max-width: 90vw;
}
.dropDown button{
    border-color: #C6C6C6;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #01818C;
}
.dropdown-toggle::after{
   
    border-top-color: #C6C6C6;
}

.submit{
    text-align: center;
}
.submit button{
    width: 9.5rem;
    height: 3rem;
    background-color: #01818C;
    border-color: #01818C;
}

/* Section 2 CSS -----------------------------------------------*/
.section2{
    margin-bottom: 4.2rem;
}
.dropup .dropdown-toggle::after{
    margin-left: calc(100vw - 16rem);
    font-size: 16px;
}
.card
{
    border: none;
    margin: 3rem;
    
}
.accordion .card:nth-child(1) .card-body{
    
    border: 1px solid #2B7397;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: none;
}
.accordion .card:nth-child(2) .card-body{
    
    border: 1px solid #32959D;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: none;
}
.accordion .card:nth-child(3) .card-body{
    
    border: 1px solid #9C7777;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: none;
}
.accordion .card:nth-child(1) .card-text:nth-child(2){
color:  #2B7397;
}

.accordion .card:nth-child(2) .card-text:nth-child(2){
    color:  #32959D;
}
.accordion .card:nth-child(3) .card-text:nth-child(2){
    color:  #9C7777;
}
.accordion-button:not(.collapsed)::after {
    background-image: url(images/Vector\ 133.png);
    transform: url(images/Vector\ 133.png)
}
.card .content{
display: flex;
justify-content: space-around;
}
.card h5{
    
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #455A64;
    margin: 1rem 0rem 1.2rem;

}
.content > .card-text{
    font-size: 12px;
    font-family: 'Quicksand';
    color:#455A64;
    flex-basis: 60%;
    font-weight: 500;
    border-right: 0.5px solid #6F8B99;
    padding-right: 10px;
}
.cost{
    text-align: center;
}
.cost .card-text:nth-child(1){
   font-size: 14px;
   font-weight: 300;
   text-decoration: line-through;
   color: #37474F;
}
.cost .card-text:nth-child(2){
color:#036696;
}
.card-footer{
    text-align: center;
    background: #2B7397;
}
.accordion .card:nth-child(2) .card-footer{
    background: #32959D;
}
.accordion .card:nth-child(3) .card-footer{
    background: #9C7777;
}
.card-footer a{
    text-decoration: none;
    color: white;
}
.accordion-header{
    margin:1rem 1.2rem;
}
.accordion-body{
    background-color: #F7FBFD;
    margin-top:1.5rem
}
.accordion-item{
    background: #ffffff;
    margin-bottom: 0.875rem;
    border:none;
}
.accordion-item button{
    background: #F4FBFF!important;
    border-radius: 6px;
    font-weight: 300;
    color: #455A64;
    font-size: 14px;
}
.accordion-button:not(.collapsed){
    color:#455A64;
}
.accordion-button::after{
    background-image:url(images/Vector\ 133.png);
}

/* section3--------------------------------------------------- */
.section3{
    background: #EBF7FC;
    padding:2rem 0rem;
    padding-bottom: 8rem;
}
.section3 .headings{
    font-size: 22px;
    color: #036696;
}
.section3 .wrapper{
    position: relative;
display: flex;
  flex-direction: column;
 align-items: center;
}
.section3 .rectangleblob{
    position: absolute;
           top:1.6rem;
}
.section3 .underblob{
    display: none;
}
.carousel{
    padding:1rem 1.2rem;
    background: white;
    margin:1.1rem;
    box-shadow: rgb(0 0 0 / 15%) 3px 5px 6px 2px;
    border-radius: 10px;
}
.caro-content{
    display: flex;
    flex-direction: column-reverse;
}
.caro-content h2{
    text-align: center;
    font-size: 22px;
    color: #043953;
    font-weight: 700;
}
.carousel-item p{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #455A64;
    padding: 2.5rem 1.2rem 2.5rem 2.5rem;
    text-align: justify;
}
.carousel-control-next, .carousel-control-prev{
    top:50%;
    height: 40px;
    width: 40px;
    background: #036696;
    opacity: 0.8;
    border-radius: 6px;
}
.carousel-control-next{
    left:95%;
}
.carousel-control-prev{
    left:-5%;
}
.caro-quote{
    text-align: end;
}
.carousel-indicators{
    bottom:-73px;
}
.carousel-indicators [data-bs-target] {
border-radius: 50%;
height: 16.05px;
width: 16.05px;
background-color: #C4C4C4;
}
.carousel-indicators .active{
    background-image: linear-gradient(to bottom, #32959d, #158a9d, #007f9d, #00739b, #036696);}

.footer{
    text-align: center;
    padding: 6rem;
    background: #043953;
}
.section3 .submit button{
    display: none;
}


/* footer css*/
.footer img{
    width: 132px;
    height: 58px;
}

/*Breakpoints*/

    @media only screen and (min-width: 600px) {
        .accordion-header{
            width: calc(100vw - 30vmin);
            margin: auto;
        }
        .card{
            max-width: 265px;
            margin:3rem auto;
        }
       
      }

      @media only screen and (min-width: 768px) {
        .section3 .headings{
            font-size: 34px;
            color: #043953;
            z-index: 1;
        }
        .section3 .rectangleblob{
            display: none;
        }
        .section3 .wrapper{
            position: relative;
        display: flex;
          flex-direction: column;
         align-items: center;
        }
         .section3 .underblob{
            display: block;
            position: absolute;
           top:1.5rem;
        }
        .carousel-control-next{
            left: 97%;
        }
        .carousel-control-prev{
            left:-3%;
        }
      } 
      @media only screen and (min-width: 992px) {
        .headings{
            color: #01818C;
            text-align: center;
            margin-bottom: 3rem;
            font-size: 34px;
        }
        .labels{
            font-weight: 400;
            color: #455A64;
            margin-bottom: 1.2rem;
            font-size: 20.3px;
        }
        .form-check-label{
            font-size:16px ;
        }
        .accordion-header{
            width: calc(100vw - 45vmin);
            margin: auto;
        }
        .carousel{
            padding: 1rem 1.2rem;
    background: white;
    width: calc(100vw - 40vmin);
    margin:auto;
    box-shadow: rgb(0 0 0 / 15%) 3px 5px 6px 2px;
    border-radius: 10px;
    max-width: 800px;
        }
      } 
      @media only screen and (min-width: 1024px) {
        .accordion .accordion-item:nth-child(1) .accordion-body{
            background-color: #F7FBFD;
            margin-top: 1.5rem;
            display: flex;
        }
        .accordion-header{
            max-width: 750px;
        }
        .card{
            flex-basis: 25%;
        }
        .card h5{
            color: #3B3019;
            font-weight: 500;
        }
        .card .content{
            flex-direction: column;
            text-align: center;
        }
        .cost{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .cost p{
            margin: 0rem;
        }
        .content .card-text,.cost .card-text:nth-child(1){
            border:none;
            font-size: 16px;
        }
        .cost .card-text:nth-child(2){
            font-size: 20px;
        }
        .navbar{
            padding: 0.675rem;
        }
        .carousel-control-next{
            left: 103%;
            border-radius: 50%;
            background-color:#043953 ;
        }
        .carousel-control-prev{
            left:-8%;
            border-radius: 50%;
            background-color: #043953;
        }
        .caro-content{
            flex-direction: column;
        }
        .section3 .submit button{
            display: block;
            margin:auto;
            margin-top:5rem;
            background-color: #043953;
            font-size: 22px;
            
        }

      }
